.project{
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 15em 0;
}
.project-heading{
    font-size: 3em;
    font-weight: 700;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    color: #353535;
    margin-bottom: 3em;
}

.container{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
}

/* ============= MEDIA QUERIES LARGE SCREENS DEVICES =============== */
@media screen and (max-width: 1440px){

}
/* ============= MEDIA QUERIES TABLET/SMALL SCREENS DEVICES =============== */
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
}
/* ============= MEDIA QUERIES MOBILE DEVICES =============== */
@media screen and (max-width: 600px){
    .project{
        padding:10em 0 5em 0;
    }
}