.card{
    width: 33.33%;
    height: auto;
    text-align: center;
    padding: 8em 3em;
}

.card-image{
    width: 20%;
    margin-bottom: 3em;
}
.card-title{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    color: #353535;
    margin-bottom: 1em;
}
.card:nth-child(2){
    border-right: .1em solid rgba(168, 178, 188, 0.8);
    border-left: .1em solid rgba(168, 178, 188, 0.8);
}
.card-info{
    font-size: 1.6em;
    font-family: Rubik , Arial, Helvetica, sans-serif;
    color: #353535;
    line-height: 2em;
    margin-bottom: 4em;
}
.skill-heading{
    color: #452BC7;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.skills{
    font-size: 1.6em;
    font-family: Rubik , Arial, Helvetica, sans-serif;
    color: #353535;
    line-height: 2.5em;
    padding: 0 5em;
    
}


/* ============= MEDIA QUERIES LARGE SCREENS DEVICES =============== */
@media screen and (max-width: 1440px){
    
}
/* ============= MEDIA QUERIES TABLET/SMALL SCREENS DEVICES =============== */
@media screen and (max-width: 1024px){
    .card{
        padding: 4em 2em;
    }
    .card-info{
        margin-bottom: 2em;
    }
    .skills{
        padding: 0 2em;
    }
}
@media screen and (max-width: 768px){
    .card{
        width: 100%;
        height: auto;
        padding: 8em 3em;
    }
    .card:nth-child(2){
        border-right: none;
        border-left: none;
        border-bottom: .1em solid rgba(168, 178, 188, 0.8);
    }
    .card:nth-child(1){
        border-bottom: .1em solid rgba(168, 178, 188, 0.8);
    }
}
/* ============= MEDIA QUERIES MOBILE DEVICES =============== */
@media screen and (max-width: 600px){
    .card{
        padding: 4em 2em;
    }
    .skills{
        padding: 0 3em;
    }
    .card-info{
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 420px){
    .card{
        padding: 4em 2em;
    }
    .card-info{
        margin-bottom: 2em;
    }
    .skills{
        line-height: 2em;
        text-align: center;
        padding: 0 3em;
    }
}

@media screen and (max-width: 320px){
    .skills{
        padding: 0;
    }
}