.project-container{
    width: calc(33.33% - 3em);
    height: auto;
    position: relative;
    cursor: pointer;
}
.image-container{
    border-radius: 3em;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    object-fit: cover;
}

.overlay-container:hover{
    background-color: #141C3A;
}
.overlay-container:hover h4{
    display: block;
}
.overlay-container:hover .btn-project{
    display: inline-block;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 3em;
    z-index: 999;
    text-align: center;
    padding: 6em 3em;
}
.overlay-container h4{
    font-size: 2rem;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.2em;
    display: none;
}
.btn-project{
    display: inline-block;
    border: .1em solid #fff;
    border-radius: 5em;
    padding: .6em 2em;
    font-size: 1.6em;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0 .5em;
    cursor: pointer;
    display: none;
}

.btn-project:hover{
    background-color: #452BC7;
    border: .1em solid #452BC7;
}