section.service{
    width: 70%;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(70, 67, 82, 0.1);
    -moz-box-shadow: 0px 5px 10px 1px rgba(70, 67, 82, 0.1);
    box-shadow: 0px 5px 10px 1px rgba(70, 67, 82, 0.1);
    margin: -20em auto 0 auto;
    height: auto;
    border-radius: 1.5em;
    border: .1em solid rgba(168, 178, 188, 0.8);
    display: flex;
}