nav,
.nav-links{
    display: flex;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}
.nav-links{
    list-style: none;
}
.nav-links li {
    padding: 0 0 0 3rem;
}
.nav-links a{
    font-size: 1.2rem;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #1D375C;
}
.logo img {
    width: 4.5rem;
}
.navbar-sm{
    display: none;
    position: relative;
}
.nav-links-sm{
    display: none;
    position: absolute;
    background-color: #452BC7;
    right: 2px;
    z-index: 10;
    top: 45px;
}
.nav-links-sm::before{
    content: '';
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right: 15px solid #452BC7;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: -1;

}
.nav-links-sm li{
    padding: 2em 6em;
    cursor: pointer;
}

.nav-links-sm li:hover{
    background-color: #21099B;
}

.nav-links-sm a{
    color: #fff;
    font-size: 1rem;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}
.hamburger-bar{
    cursor: pointer;
}



/* ============= MEDIA QUERIES LARGE SCREENS DEVICES =============== */
@media screen and (max-width: 1440px){
    nav{
        padding: 2rem 8rem;
    }
}
/* ============= MEDIA QUERIES TABLET/SMALL SCREENS DEVICES =============== */
@media screen and (max-width: 1024px){
    nav{
        padding: 2rem 4rem;     
    }
    .nav-links li {
        padding: 0 0 0 2.5rem;
    }
    .nav-links a{
        font-size: 1rem;
    }
    .logo img {
        width: 3.5rem;
    }
    
}
/* ============= MEDIA QUERIES MOBILE DEVICES =============== */
@media screen and (max-width: 768px){
    .nav-links{
        display: none;
    }
    .navbar-sm{
        display: block;
    }
}
@media screen and (max-width: 600px){
    nav{
        padding: 2rem 3rem;     
    }
}
