footer{
    width: 100%;
    height: auto;
    background-color: #21099B;
    text-align: center;
    padding: 5em 10em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
footer .footer-logo{
    width: 6em;
    display: block;
    margin: 0 auto 3em auto;
}
.footer-links,
.footer-socials{
    display: flex;
    justify-content: center;
}
.footer-links{
    margin-bottom: 6em;
}
.footer-links a{
    color: #fff;
    font-size: 1.6em;
    font-family: Rubik , Arial, Helvetica, sans-serif;
    padding:  0 2em;
    text-transform: uppercase;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-socials a{
    padding:  0 1em;
    color: #fff;
    font-size: 2.2em;
}
.footer-socials a:hover{
    color: #452BC7;
}

/* ============= MEDIA QUERIES LARGE SCREENS DEVICES =============== */
@media screen and (max-width: 1440px){

}
/* ============= MEDIA QUERIES TABLET/SMALL SCREENS DEVICES =============== */
@media screen and (max-width: 1024px){

}
/* ============= MEDIA QUERIES MOBILE DEVICES =============== */
@media screen and (max-width: 600px){

}